<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy for Sera Plus</title>
</head>
<body>
    <h1>PRIVACY/ DATA POLICY FOR SERA PLUS</h1>
    <h2>1. Data Controller and Representative</h2>
    <p>
        This Privacy Policy describes the privacy practices of Eduuis’s Sites and Products and anywhere we display or reference this policy. Through our Sites and Products, Eduuis and its affiliated entities (collectively, "Eduuis", "us," or "we") implement the processing of information that can be used to identify you ("Personal Data") listed below. Eduuis is committed to protecting your Personal Data. We understand that the security of your Personal Data is important. We provide reasonable administrative, technical, and physical security controls to protect your Personal Data. We will only collect and use information from you as described in this Privacy Policy. We will not sell your data to any third parties without your express consent.
        The data controller is Eduuis Techo Solution Pvt. LTD. Privacy-related questions can be directed to unicorn.uis@gmail.com.
        Please read carefully the following privacy policy which provides you, as the User of the Sites and/or Products (the “User” or “You”), with the relevant information regarding the various processing of Personal Data implemented by Eduuis.
    </p>
    <h2>2. Personal Data Processing Implemented by Eduuis</h2>
    <p>
        “Personal Data” means any information relating to an identified or identifiable natural person (“data subject”); an identifiable natural person is one who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person. Depending on how you interact with us, we process different kinds of data and in different ways. Some data is automatically processed if you visit our Sites or use our Products. Other data is only processed if you actively submit it to us (like using our web forms to get in touch with us or uploading content to our Sites).
    </p>
    <h3>2.1 Data we process if you visit our Sites:</h3>
    <p>
        When the User visits our Sites, Eduuis implements a processing of Personal Data as follows:
    </p>
    <h4>2.1.1 Personal Data we collect if you visit our Sites</h4>
    <ul>
        <li>Date and time of the visit and the duration of use of the Site;</li>
        <li>Information about how you visit our Sites (including the webpage that led you to a Eduuis Site, the search terms entered into a search engine which led you to a Eduuis Sites);</li>
        <li>Your operations and clicks to our Sites;</li>
        <li>Date and time of the visit and the duration of use of the Sites;</li>
        <li>Information about your device (type of device, browser type and version, as well as settings, installed plug-ins, operating system).</li>
    </ul>
    <p>The aforementioned Personal Data is referred to as Website Usage Data.</p>
    <h4>2.1.2 Purposes of Processing</h4>
    <p>
        We process Website Usage Data to allow you to surf the Sites and to ensure its functionality. We also process Website Usage Data to perform analyses on the performance of the Sites, to continuously improve the Sites and correct errors, to ensure IT security and operation of our systems, as well as to prevent or uncover abuse. We further process this data in aggregated or pseudonymized form to analyze trends, administer the Sites, track users' movements around the Sites, and to gather demographic information about our user base as a whole or to improve marketing (including serving you personalized, interest-based ads) as well as the user experience on our Site and guaranteeing the safety of our IT systems.
    </p>
    <h3>2.2 Data we process only if you submit it to us:</h3>
    <p>
        When you actively submit data to us, we process the following Personal Data:
    </p>
    <h4>2.2.1 Personal Data we collect if you submit to us through the data collection form in the purchase process or other processes:</h4>
    <ul>
        <li>Account Data: On some of our Sites, you can register for an account with your e-mail address and a password you create. If you register on one of our Sites or Products, you will automatically create an account you can use to manage your licensed Products. Usually, you need to provide your Name, Gender, Age, Image, Email address, Address, Country, Postal code, Phone number, Company name, and industry you work for to create your account;</li>
        <li>Transaction Data: Billing information, such as your name, email address, billing address, your business affiliation (company or organization name). Type of Product you purchase, Amount you pay in your currency, Subscription ID, Subscription-related URLs (such as purchase confirmation page URL, subscription cancellation URL, invoice PDF URL);</li>
        <li>Comment Data;</li>
        <li>Content of customer support communications;</li>
        <li>Other Data you voluntarily provide to us.</li>
    </ul>
    <h4>2.2.2 Purposes of Processing</h4>
    <p>
        We use Account Data to help you create an account and keep a record of your product license (that is, authenticating and periodically verifying your licensing rights in the product for anti-piracy purposes) and to enable the provision of maintenance or support services to you. We will also use this information to provide in-product messaging with information about products, features, or services offered by Eduuis.
        We will use Transaction Data to complete your order, for billing purposes, and for internal accounting and chargeback management purpose.
        We will use the comment data to improve our products and provide consumers and potential consumers with better and transparent information about the Eduuis products. Eduuis may use the comments (with your relevant information) you post for marketing purposes to help others better understand and use our products.
        In order to provide the Products you purchased to you, or perform the contract between you and Eduuis.
        We do not collect or process data about your payment instruments such as credit card numbers, banking account numbers, or PayPal accounts. This information is collected, processed, and stored by our qualified payment processors.
        From time to time, we may contact our customers directly by mail, email, or telephone to inform you about upgrades, new products, promotions, or special offers that you told us you were interested in receiving (including our newsletters). The subscription to Eduuis newsletters and the related provision of Personal Data is made on a voluntary basis so that the processing of the collected Personal Data relies on the User’s consent. If you want to cancel the aforementioned purpose, you can contact us or operate through your account or our forms on our Sites.
    </p>
    <h3>2.3 Data we process if you use our Products:</h3>
    <p>
        When you use our Products, we process the following Personal Data:
    </p>
    <h4>2.3.1 Personal Data we collect if you use our Products:</h4>
    <ul>
        <li>Your product serial number;</li>
        <li>Product Usage Data. We collect information about the products which you use and how you use them, including but not limited to Launch data, Feature usage, Page clicks, Sign-in information;</li>
        <li>Product Installation Data. Your local device information, including but not limited to your device information, device hardware, operating system, other software on your system, Username, your Eduuis ID, location, IP address, operating log information, the size and format of the files you are working with;</li>
        <li>Crash data and the information of the files you are working with. If the User meets with a crash problem, we will enquire if the User agrees to send the original document to Eduuis. Only if the User agrees to send Eduuis the original document, Eduuis can have access to the original document;</li>
        <li>For our Sera PLUS product, we usually collect information on the device which has installed Sera Plus. The information may include device model, system version and language, User’s submitted information, installed applications, browser record, keyword (for early warning purposes), driving information, etc;</li>
        <li>Eduuis uses OAuth authentication to configure cloud storage services for the application on your behalf, which may include viewing and managing your Google cloud service storage files such as photo albums, media libraries, shared albums, etc. Eduuis does not store any of your files. Eduuis only transfers and processes information based on valid user requests to access or transfer files. Eduuis complies with a complete list of security standards defined by Google. You can find more information about Google security on the Google Cloud Platform Website;</li>
        <li>Eduuis Drive is designed as a simple and personalized way for you to store your files, documents, photos, and so on (“Your Stuff”), therefore, except for the general information listed above, we also collect Your Stuff you choose to store on our Eduuis Drive platform. For our Eduuis Drive product, Your Stuff on our Eduuis Drive platform will only be used to provide the Eduuis Drive Service to you and will not be used for any other purpose.</li>
    </ul>
    <h4>2.3.2 Purposes of Processing</h4>
    <p>
        We process Product Usage Data and Product Installation Data so that we can facilitate, evaluate, and verify your use of our products and services. We will also use the Product Usage Data for our own internal statistical and analytical purposes, and to evaluate and enhance users' experience of the Products by identifying customer preferences and analyzing crash data. If you want to cancel the aforementioned purpose, you can contact us or operate through your account or our forms on our Sites.
        In order to provide the Products you purchased to you, or perform the contract between you and Eduuis.
        In order to provide customer service or support.
        In order to show you ads for Eduuis products and services that we think may interest you. If you want to cancel the aforementioned purpose, you can contact us or operate through your account or our forms on our Sites.
    </p>
    <h2>3. Our Legal Basis for Processing</h2>
    <p>
        When processing your Personal Data, we usually rely on your consent. However, under some circumstances, we may process your Personal Data without getting your prior consent, such circumstances may include: (a) processing is necessary for the performance of a contract to which you (the data subject) are party or in order to take steps at the request of the data subject prior to entering into a contract; (b) processing is necessary for compliance with a legal obligation to which Eduuis (the controller) is subject; (c) processing is necessary in order to protect the vital interests of the data subject or of another natural person; (d) processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the controller; (e) processing is necessary for the purposes of the legitimate interests pursued by the controller or by a third party, except where such interests are overridden by the interests or fundamental rights and freedoms of the data subject which require protection of Personal Data, in particular where the data subject is a child.
        If we rely on your consent to process your Personal Data, you have the right to withdraw your consent at any time.
    </p>
    <h2>4. Recipients of Your Personal Data</h2>
    <p>
        We treat your Personal Data with care and confidentiality and will only pass it on to third parties to the extent described below and not beyond. We do not share, sell, rent, or trade Personal Data with third parties for their promotional purposes without your prior consent.
    </p>
    <ul>
        <li>Service Providers: We may share your Personal Data with companies that help us to run our business by processing Personal Data on behalf of us for the purposes identified above. Such companies include payment processing companies which can help us process transactions, the parties providing our third-party cookies and tracking tools which may send tracking data or analysis report and to Eduuis ，email delivery service providers which can help us deliver promotion emails to you, server companies we hire to provide service to you, chargeback management service providers, fraud monitoring and prevention providers, social media, third party online forums, and other marketing platforms and service providers.</li>
        <li>Public Authorities: if Eduuis is under a duty to disclose or share such Personal Data in order to comply with any legal obligation, or in order to protect the rights, property or safety of its business, its customers or others;</li>
        <li>Business Transactions: to successors in title or replacement operators of all or part of Eduuis’s respective businesses.</li>
    </ul>
    <h2>5. Transfer of Personal Data across National Borders</h2>
    <p>
        The main locations where we process your Personal Data include the INDIA, US, EU, but we may also transfer Personal Data to other countries in the world where our Products are available. We carry out these transfers across national borders in compliance with applicable laws – for example, by putting data transfer agreements (such as the Standard Contractual Clauses required by GDPR) in place to help protect your Personal Data.
        The collected Personal Data may be transferred by Eduuis to recipients which are located outside the India and such destinations may not have laws which protect the User’s Personal Data to the same extent as in the India. Eduuis ensures that the User’s Personal Data processed by Eduuis or by its suppliers and partners operating outside the India are treated securely and are protected against unauthorized access, loss or destruction, unlawful processing and any processing which is inconsistent with the purposes set out in this privacy policy.
        Please find below the relevant information on transfer across national borders:
    </p>
    <ul>
        <li>Eduuis may transfer your payment information to payment processing companies outside the India to process transactions;</li>
        <li>Eduuis may use third party cookies and tracking tools (such as AdWords, Bing, bugsplat, Criteo, disqus, Facebook, FireBase, Flurry, Google Analytics, Hotjar, LinkedIn, Pardot, Quora) to track the information on how Users use the Sites and products, such Sites usage data and product usage data may be sent to and stored in third party servers located outside the India. Such third-party cookies and tracking tools may send the tracking data or analysis report to Eduuis for our above-mentioned purpose. Most of the third-party cookies and tracking tools process your Personal Data anonymously;</li>
        <li>Eduuis may transfer your email address and other necessary information such as your name to email delivery service providers outside the India to deliver promotion emails to you;</li>
        <li>Eduuis may store the Personal Data on the servers leased from server service providers;</li>
        <li>Eduuis may transfer your relevant Personal Data to marketing platforms and service providers outside the India to complete relevant service;</li>
        <li>Eduuis may transfer your relevant Personal Data to fraud monitoring and prevention providers outside the India to complete relevant service.</li>
    </ul>
    <h2>6. Duration of the storage</h2>
    <p>
        Eduuis will store the collected Personal Data for the duration necessary for the fulfillment of our contractual relationship or legal obligations and permitted by applicable legislation. Beyond this duration, we will delete the Personal Data according to applicable legislation. In order for Eduuis to be able to demonstrate the existence of a right or a contract or a legal obligation, the relevant Personal Data will be stored through intermediary archives for a duration that will not exceed what is strictly necessary regarding the purpose of the storage and in accordance with the applicable legislation. Regarding banking information, said information will be deleted once the payment has been processed and has become effective. Withdrawal time period could additionally apply. The number and the expiration date of the credit card number (not the CVV security code) could be stored through intermediary archives for evidence purposes in case of a claim regarding the payment, for the duration provided by applicable legislation.
    </p>
    <h2>7. Cookies and tracking tools</h2>
    <p>
        Eduuis implements a number of industry standard information-tracking tools to collect information about your use with our Sites and Products. When the User consults the Sites and/or the Products, Eduuis implements cookies on the User’s device.
    </p>
    <h2>8. Third Party Services</h2>
    <p>
        Some of our products may use Third-Party services. When Third-Party Services are enabled by a Customer or an Authorized User, Eduuis may share Information with Third-Party Services. Third-Party Services are not owned or controlled by Eduuis and third parties that have been granted access to Information may have their own policies and practices for its collection, use, and sharing. Please check the permissions, privacy settings, and notices for these Third-Party Services or contact the provider for any questions.
    </p>
    <h2>9. User’s Rights</h2>
    <p>
        To the extent required by the law of your jurisdiction, you may have all legal rights to withdraw consent and ask for deletion of data.
        However, to register with Eduuis, to create an Eduuis account, and to use some Eduuis Sites, Products, the provision of some information including but not limited to the email address is mandatory: if relevant information is not provided, then we will not be able to administer an Eduuis account to you, or provide you with the Sites, products, or services requested. Other provision of your information is optional. Providing optional information will help us offer you a better experience, such as more personalized or tailored content or offerings.
    </p>
    <h2>10. Collecting Information from Children</h2>
    <p>
        Eduuis's Sites and products are not intended for use by children under the age of 16 and we do not intentionally collect any information from users under the age of 16. If you do not meet applicable age requirements, please do not use those Sites and products. If a parent or guardian becomes aware that their child has provided Eduuis with Personal Data or that we have otherwise inadvertently collected this information, contact us at unicorn.uis@gmail.com, so that we may delete the information from our servers.
    </p>
    <h2>11. Revision of this Privacy Policy</h2>
    <p>
        Occasionally, we may change this privacy policy (or other documents related to the privacy policy) to allow Eduuis to use or share your Personal Data in a different way. If we do, the links to the policy on our Sites (which are generally found in the footer of the Sites) will indicate that the policy has been changed. For new Users, the change will become effective upon posting. For existing Users, if the change is significant, it will become effective 30 days after posting. We encourage you to periodically review the privacy policy for the latest information on our privacy practices.
    </p>
    <h2>12. Contacting Eduuis</h2>
    <p>
        If the User needs to contact Eduuis for any reason (including to exercise any of its rights in relation to data protection as set out above), please contact unicorn.uis@gmail.com.
        Eduuis will act on the User’s requests and provide information free of charge, except where the requests are manifestly unfounded or excessive (in particular because of their repetitive nature) in which case Eduuis may charge a reasonable fee (taking into account the administrative costs of providing the information or communication, or taking the action requested), or refuse to act on the request.
    </p>
    <h2>13.2 YouTube Terms of Service</h2>
<p>
    Eduuis will only access and use the viewing, commenting, liking, and subscription data of YouTube videos and will not store or share Google user data.
    You can view the YouTube Terms of Service <a href="https://www.youtube.com/t/terms" target="_blank">here</a>.
</p>

<h2>14. Google Privacy Policy</h2>
<h3>14.1 Privacy when accessing Google Drive</h3>
<p>
    When using the Google Drive feature, Google’s privacy policy applies to accessing Google Drive. You can view the Google privacy policy <a href="https://policies.google.com/privacy?hl=en-US" target="_blank">here</a>.
</p>
</body>
</html>
